.qheader {
  font: bold 14px Helvetica;
  color: white;
  margin-bottom: 10px;
}

.qselections {
  font: normal 13px Helvetica;
  color: white;
}

.question {
  margin: 20px auto;
  width: 500px;
}

#quiz {
  display: block;
}
